# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/
build/
.angular/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
logs/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests / coverage
coverage/

# Misceláneo
*.tmp
*.bak
